{% extends 'base.html' %}
{% block title %}Login Page{% endblock%}
{% block content %}
<div class="container" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div class="row w-100">
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
            <div class="card rounded text-white bg-primary mb-3 w-100">
                <div class="card-body">
                    <h4 class="card-title text-center fw-medium mb-5">SSO Login</h4>
                    <form method="post" action="{{url_for('auth.register')}}" >
                        <div class="mb-3">
                            <label for="txtUsername" class="form-label">Username <span class="text-danger">*</span></label>
                            <input type="email" class="form-control rounded" id="txtUsername" name="username" aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-3">
                            <label for="txtPassword" class="form-label">Password <span class="text-danger">*</span></label>
                            <input type="password" class="form-control rounded" id="txtPassword" name="password" required>
                        </div>
                        <div class="mb-5">
                            <label for="txtConfirmPassword" class="form-label">Confirm Password <span class="text-danger">*</span></label>
                            <input type="password" class="form-control rounded" id="txtConfirmPassword" name="confirm_password" required>
                        </div>
                        <div class="d-grid">
                            <input type="submit" class="btn btn-secondary rounded mt-2 mb-5" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}