{% extends 'base.html' %}
{% block title %}Vision 2047{% endblock %}
{% block content %}

<!-- Featured Videos Section -->
<section id="featured-videos" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-4">🎥 Featured Videos</h2>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/wRk397xbK8Q"
                        title="Secretaries Conference on Water Vision 2047" allowfullscreen></iframe>
                </div>
                <p class="text-center mt-2">Secretaries’ Conference – Water Vision @2047</p>
            </div>
            <div class="col-md-6 mb-4">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/AkklFAP9FAE"
                        title="Ministers Conference on Water Vision 2047" allowfullscreen></iframe>
                </div>
                <p class="text-center mt-2">Ministers’ Conference – Water Vision @2047</p>
            </div>
        </div>
    </div>
</section>
{%endblock%}
